/netbeans/cuarta clase/2_numeros_enteros/nbproject/private/
/netbeans/cuarta clase/dos_numeros_enteros/nbproject/private/
/netbeans/cuarta clase/dos_numeros_enteros/build/
/netbeans/cuarta clase/numero_par_o_impar/nbproject/private/
/netbeans/cuarta clase/Hoja de trabajo oficial/nbproject/private/
/netbeans/cuarta clase/Hoja de trabajo oficial/build/
/netbeans/cuarta clase/hoja de trabajo oficial/Hoja de trabajo oficial/build/
/netbeans/cuarta clase/hoja de trabajo oficial/Hoja de trabajo oficial/nbproject/private/
/netbeans/cuarta clase/hoja de trabajo oficial/1. etapas del ser humano/nbproject/private/
/netbeans/cuarta clase/2. 2 numeros enteros diferentes/nbproject/private/
/netbeans/cuarta clase/2. 2 numeros enteros diferentes/build/
/netbeans/cuarta clase/3. numero par o impar, negativo o positivo/nbproject/private/
/netbeans/cuarta clase/3. numero par o impar, negativo o positivo/build/
/netbeans/cuarta clase/4. ordenar 3 numeros de mayor a menor/nbproject/private/
/netbeans/cuarta clase/4. ordenar 3 numeros de mayor a menor/build/
/netbeans/cuarta clase/5. numero entre 0 y 99999 y decir las cifras/nbproject/private/
/netbeans/cuarta clase/5. numero entre 0 y 99999 y decir las cifras/build/
/netbeans/cuarta clase/simulacion de inicio de sesion/nbproject/private/
/netbeans/cuarta clase/simulacion de inicio de sesion/build/
/netbeans/cuarta clase/6. simulacion de inicio de sesion/build/
/netbeans/cuarta clase/6. simulacion de inicio de sesion/nbproject/private/
/netbeans/cuarta clase/7. matriculas de la universidad/nbproject/private/
/netbeans/cuarta clase/7. matriculas de la universidad/build/
/netbeans/cuarta clase/MatriculasDeLaUniversidad/target/
/netbeans/cuarta clase/8._4_notas/target/
/netbeans/cuarta clase/9._Casino_de_juegos/target/
/netbeans/cuarta clase/10._incrementar_variable_entera/nbproject/private/
/netbeans/cuarta clase/10._incrementar_variable_entera/build/
/netbeans/cuarta clase/11._peso_en_kg/nbproject/private/
/netbeans/cuarta clase/11._peso_en_kg/build/
/netbeans/cuarta clase/12._factorial_de_un_numero/nbproject/private/
/netbeans/cuarta clase/12._factorial_de_un_numero/build/
/netbeans/cuarta clase/13._serie_numerica/nbproject/private/
/netbeans/cuarta clase/13._serie_numerica/build/
/netbeans/cuarta clase/14._integral_simson/nbproject/private/
/netbeans/cuarta clase/14._integral_simson/build/
